<header>
    <nav class="menta-nav">
        <div class="nav-container">
            <a href="#" class="logo">
                <img src="assets/img/logoMasTexto.png" alt="logo">
            </a>
        
            <ul class="nav-links">
                <li><a href="#servicios">Servicios</a></li>
                <li><a href="#portafolio">Portafolio</a></li>
                <li><a href="#nosotros">Nosotros</a></li>
            </ul>
        
            <a href="#contacto" class="btn-contacto">Contactar</a>
        </div>
    </nav>
</header>