<header>
    <nav class="menta-nav">
        <div class="nav-container">
            <a href="index.html" class="logo">
                <img src="assets/img/logoMasTexto.png" alt="logo">
            </a>

            <ul class="nav-links">
                <li><a href="index.html">Inicio</a></li>
                <li><a href="pages/servicios.html">Servicios</a></li>
                <li><a href="pages/nosotros.html">Nosotros</a></li>
                <li><a href="pages/formulario.html">Contactanos</a></li>
            </ul>

            <a href="pages/formulario.html" class="btn-contacto">Contactar</a>

            <button class="nav-hamburguesa" aria-label="Menú">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </nav>
</header>